.page.theme_light {
  --page-bg-color: #fff1f7;
  --page-bg-image: url('../images/cover-image-light.png');
  --accent-color: #ff8dcb;
  --accent-color-soft: rgb(50 49 45 / 0.4);
  --heading-color: #ffc2e6;
  --title-decor-text-color: #353430;
  --section-title-color: #353430;
  --main-text-color: #353430;
  --button-text-color: #353430;
}

.page.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --page-bg-color: #fff1f7;
    --page-bg-image: url('../images/cover-image-light.png');
    --accent-color: #ff8dcb;
    --accent-color-soft: rgb(50 49 45 / 0.4);
    --heading-color: #ffc2e6;
    --title-decor-text-color: #353430;
    --section-title-color: #353430;
    --main-text-color: #353430;
    --button-text-color: #353430;
  }

  .page:not(.theme_dark) .header__rec {
    display: none;
  }
}
