.page.theme_light {
  --background-color: var(--color-pink-seventh, #fff1f7);
  --background-image: url('../images/cover-image-light.png');
  --title-color: var(--color-pink-sixth, #ffc2e6);
  --header-text-color: var(--color-grey, #353430);
  --decorated-color: var(--color-grey, #353430);
  --decorated-color-40: var(--color-grey-40, rgb(53 52 48 / 0.4));
  --section-title-color: var(--color-grey, #353430);
  --article-title-color: var(--color-grey, #353430);
  --accent-color: var(--color-pink-fifth, #ff8dcb);
  --accent-pink: var(--color-pink-fifth, #ff8dcb);
  --text-color: var(--color-grey, #353430);
}

.page.theme_light .recording {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --background-color: var(--color-pink-seventh, #fff1f7);
    --background-image: url('../images/cover-image-light.png');
    --title-color: var(--color-pink-sixth, #ffc2e6);
    --header-text-color: var(--color-grey, #353430);
    --decorated-color: var(--color-grey, #353430);
    --decorated-color-40: var(--color-grey-40, rgb(53 52 48 / 0.4));
    --section-title-color: var(--color-grey, #353430);
    --article-title-color: var(--color-grey, #353430);
    --accent-color: var(--color-pink-fifth, #ff8dcb);
    --accent-pink: var(--color-pink-fifth, #ff8dcb);
    --text-color: var(--color-grey, #353430);
  }

  .page:not(.theme_dark) .recording {
    display: none;
  }
}
